/*font Variables*/
$primary-font: "montserrat-regular", serif;

/*Color Variables*/
$primary-color  : #0090c7;
$primary-color2 : #990099;
$title-color    : #05364d;
$text-color     : #c9c9c9;
$offwhite       : #f8faff;
$white          : #fff;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
